.add_product{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 70px;
    background: url('../../../Assets/bg2.JPG');
    background-size: cover;

    >.container{
        display: flex;

        >.add_form{
            // border: 1px solid black;
            width: 65%;
            >form{
                margin-top: 20px;
                label{
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #373737;
                }
                input{
                    border: none;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.529);
                    padding: 5px 1px;
                    width: 100%;
                    background: none;
            
                    &:focus{
                        outline: none;
                        border-color: #e96070;
                    }
                }
                textarea{
                    width: 100%;
                    height: 100px;
                    

                    &:focus{
                        outline: none;
                        border: 2px solid #e96070;
                    }
                }
            }
        }
        >.add_img{
            width: 35%;
            // border: 1px solid;
            position: relative;
            img{
                width: 350px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

        /* Hide the default number input buttons */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
}

[type="file"] {
      color: #878787;
    }
    [type="file"]::-webkit-file-upload-button {
      background: #e96070;
      border: 2px solid #e96070;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 12px;
      outline: none;
      padding: 4px 10px;
      text-transform: uppercase;
      transition: all 1s ease;
    }