.contact_list{

    padding: 90px 0 20px;
    min-height: 100vh;
    background: url('../../../Assets/bg.JPG');
    background-size: cover;
}

.Message_card{
    display: flex;
    // border:1px solid;
    padding: 8px;
    box-shadow: 3px 3px 7px 1px rgba(22, 21, 21, 0.134);
    background: #ffffff;
    border-radius: 10px;
    min-height: 16vh;
    margin: 10px 0;

    .head{
        font-weight: 600;
        color: #444444;
    }
    span{
        font-size: 16px;
        font-weight: 600;
        color: rgb(75, 123, 225);
    }

    >.user_details{
       width: 40%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding: 0 10px;
       border-right:2px solid rgb(199, 197, 197) ;

       .fields{
           margin: 3px 0;
           display: flex;
           flex-wrap: wrap;
       }
    }
    >.msg{
       width: 60%;
       position: relative;
       padding: 0 10px 0 20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
    //    border:1px solid;
    >a{
      position: absolute;
        font-size: 20px;
        right: 0;
        top: 0;
        cursor: pointer;
        color: rgb(223, 75, 75);
        transition: 0.4s;

        &:hover{
            color: rgb(175, 59, 59);
        }
    }
   
    }
}
@media screen and (max-width: 770px) {
    .contact_list{

        padding: 100px 0 20px;
        min-height: 100vh;
        background: url('../../../Assets/bg.JPG');
        background-size: cover;
    
    }
    
    .Message_card{
        display: flex;
        flex-direction: column;
        position: relative;
    
        >.user_details{
           width: 100%;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: left;
           padding: 0 5px;
           border: none;
           border-bottom:2px solid rgb(199, 197, 197) ;
    
           .fields{
               margin: 5px 0;
               display: flex;
               flex-wrap: wrap;
           }
        }
        >.msg{
           width: 100%;
           
           padding: 5px;
        //    border:1px solid;

        >a{
            position: absolute;
              font-size: 20px;
              right: 0;
              top: 2%;
              cursor: pointer;
          }
       
        }
    }
}

