.preview{
    display: flex;
    .img_div{
        width: 50%;
        position: relative;
        // border: 1px solid blue;
        
        >img{
            border-radius: 5px;
            width: 350px;
        }

        >div{
            font-size: 17px;
            background: #e8597b;
            width: 100px;
            padding: 2px 10px;
            color: white;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            position: absolute;
            left: 50%;
            top:-3%
        }
    }
    .content_div{
        width: 50%;
        // border: 1px solid red;

        .starrating{
        //    border: 1px solid;
           width: 180px;
           height: 40px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .preview{
        flex-direction: column;
        .img_div{
            width: 100%;
            display: flex;
            justify-content: center;

            >img{
                border-radius: 5px;
                width: 280px;
                margin-bottom: 10px;
        
            }
            >div{
                left: 67%;
            }
        }
        .content_div{
            width: 100%;
            padding: 0 10px;
        }
    }
    
}